h1{
	font-size:60px;
	color:#333131;
	text-align:center;
	line-height:300px;
}
p{
	font-size:16px;
	color:white;
	text-align:center;
	line-height:100px;
}
.backBox{
	margin:auto;
	background-color:#eee;
	width:960px;
	height:500px;
}
.redBall{
	position:absolute;
	margin:-50px auto auto -50px;
	background-color:red;
	width:100px;
	height:100px;
	border-radius:100px;
}
.yellowBox{
	position:absolute;
	margin:100px 180px;
	background-color:yellow;
	width:600px;
	height:300px;
}
